body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#send {
  position: fixed;
  padding: 0.5rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  display: flex;
}
#spacer {
  height: 3rem;
}
#index {
  background: rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
